<a href="https://colab.research.google.com/github/laibniz/AnalyticsMadeEasy/blob/main/Rome_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Load libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split # Import partitioning function
from sklearn.metrics import r2_score, mean_squared_error # Import scoring functions

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [12]:
# Load full data from CSV file
full_data = pd.read_excel("https://github.com/laibniz/AnalyticsMadeEasy/raw/main/RomeHousing-History.xlsx")

In [32]:
# Preview of data
full_data.head()

   House_ID Neighborhood Property_type  ...    Floor_type  Floor_number  Rent
0    103501       Cassia          Flat  ...         Upper           2.0   900
1    105122    Collatino          Flat  ...  Ground floor           0.0   500
2    104125    Collatino          Flat  ...         Upper           4.0   950
3    104675   Infernetto          Flat  ...         Upper           2.0   800
4    102481        Ostia          Flat  ...  Ground floor           0.0   800

[5 rows x 9 columns]

In [13]:
# Handle categorical columns
full_data=pd.get_dummies(full_data,drop_first=True)

In [14]:
# Add constant
full_data = sm.add_constant(full_data)

In [15]:
# Preview of data
full_data.head()

   const  House_ID  ...  Floor_type_Mezzanine  Floor_type_Upper
0    1.0    103501  ...                     0                 1
1    1.0    105122  ...                     0                 0
2    1.0    104125  ...                     0                 1
3    1.0    104675  ...                     0                 1
4    1.0    102481  ...                     0                 0

[5 rows x 32 columns]

In [17]:
# Split columns in features (X) and target variable (y)
X = full_data.drop(['House_ID', 'Rent'],axis=1)
y = full_data['Rent']

In [24]:
# Preview of features
X.head()

   const  Rooms  ...  Floor_type_Mezzanine  Floor_type_Upper
0    1.0      2  ...                     0                 1
1    1.0      2  ...                     0                 0
2    1.0      3  ...                     0                 1
3    1.0      3  ...                     0                 1
4    1.0      3  ...                     0                 0

[5 rows x 30 columns]

In [19]:
# Partition full_data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [20]:
# Train the model
model = sm.OLS(y_train, X_train).fit()

In [21]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Rent   R-squared:                       0.929
Model:                            OLS   Adj. R-squared:                  0.929
Method:                 Least Squares   F-statistic:                     1257.
Date:                Sun, 25 Jul 2021   Prob (F-statistic):               0.00
Time:                        10:26:32   Log-Likelihood:                -17134.
No. Observations:                2800   AIC:                         3.433e+04
Df Residuals:                    2770   BIC:                         3.451e+04
Df Model:                          29
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                          556.2769     22.473     24.754      0.000     512.212     600.341
Rooms                           26.6427      4.143      6.431      0.000      18.519      34.767
Surface                          9.5155      0.136     70.006      0.000       9.249       9.782
Elevator                         0.5661      4.570      0.124      0.901      -8.395       9.527
Floor_number                     5.8277      1.487      3.918      0.000       2.911       8.744
Neighborhood_Cassia           -343.2469     22.644    -15.158      0.000    -387.649    -298.845
Neighborhood_Castelli Romani  -687.9254     21.992    -31.281      0.000    -731.048    -644.803
Neighborhood_Cinecittà        -567.6818     22.185    -25.589      0.000    -611.182    -524.182
Neighborhood_Collatino        -552.8367     22.341    -24.745      0.000    -596.644    -509.029
Neighborhood_EUR              -389.5777     26.170    -14.886      0.000    -440.893    -338.262
Neighborhood_Infernetto       -598.5329     23.023    -25.997      0.000    -643.677    -553.389
Neighborhood_Magliana         -579.9906     32.901    -17.629      0.000    -644.503    -515.479
Neighborhood_Marconi          -479.8833     24.463    -19.617      0.000    -527.850    -431.917
Neighborhood_Montagnola       -462.8497     24.417    -18.956      0.000    -510.727    -414.973
Neighborhood_Monte sacro      -509.8131     22.361    -22.799      0.000    -553.659    -465.967
Neighborhood_Monti             -97.2735     23.020     -4.226      0.000    -142.412     -52.135
Neighborhood_Ostia            -552.9217     26.781    -20.646      0.000    -605.435    -500.408
Neighborhood_Parioli          -196.7301     21.825     -9.014      0.000    -239.525    -153.936
Neighborhood_Piazza Navona     230.2560     22.240     10.353      0.000     186.647     273.865
Neighborhood_Portuense        -486.9238     30.840    -15.789      0.000    -547.396    -426.452
Neighborhood_Prati            -162.7087     22.137     -7.350      0.000    -206.116    -119.302
Neighborhood_Termini          -243.8818     23.664    -10.306      0.000    -290.283    -197.481
Neighborhood_Testaccio        -195.3184     29.178     -6.694      0.000    -252.531    -138.106
Neighborhood_Trastevere        -43.7409     23.675     -1.848      0.065     -90.164       2.682
Neighborhood_Trigoria         -503.5663     27.521    -18.298      0.000    -557.530    -449.603
Property_type_House            -95.7322     42.158     -2.271      0.023    -178.397     -13.067
Property_type_Penthouse         11.4395     11.818      0.968      0.333     -11.734      34.613
Property_type_Villa            -97.2095     49.966     -1.946      0.052    -195.184       0.765
Floor_type_Mezzanine            37.5848     11.620      3.235      0.001      14.801      60.369
Floor_type_Upper                23.4169      7.090      3.303      0.001       9.514      37.319
==============================================================================
Omnibus:                      232.922   Durbin-Watson:                   1.973
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              880.995
Skew:                          -0.346   Prob(JB):                    4.95e-192
Kurtosis:                       5.659   Cond. No.                     3.58e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.58e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [22]:
y_pred =  model.predict(X_test) # predict target on Test set

In [23]:
# Calculate scoring metrics on test set
print('r2 score is ',r2_score(y_test,y_pred))
print('root_mean_squared error is ',np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is  0.9250587737984867
root_mean_squared error is  114.37952233403911