<a href="https://colab.research.google.com/github/laibniz/AnalyticsMadeEasy/blob/main/Rome_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
# Load libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm
#from sklearn.linear_model import LinearRegression # Import linear regression algorithm
from sklearn.model_selection import train_test_split # Import partitioning function
#from sklearn import metrics # Import scoring functions
from sklearn.metrics import r2_score, mean_squared_error # Import scoring functions

In [31]:
# Load full data from CSV file
full_data = pd.read_excel("RomeHousing-History.xlsx")

In [32]:
# Preview of data
full_data.head()

   House_ID Neighborhood Property_type  ...    Floor_type  Floor_number  Rent
0    103501       Cassia          Flat  ...         Upper           2.0   900
1    105122    Collatino          Flat  ...  Ground floor           0.0   500
2    104125    Collatino          Flat  ...         Upper           4.0   950
3    104675   Infernetto          Flat  ...         Upper           2.0   800
4    102481        Ostia          Flat  ...  Ground floor           0.0   800

[5 rows x 9 columns]

In [33]:
# Handle categorical columns
full_data=pd.get_dummies(full_data,drop_first=True)

In [34]:
# Add constant
full_data = sm.add_constant(full_data)

In [35]:
# Preview of data
full_data.head()

   const  House_ID  ...  Floor_type_Mezzanine  Floor_type_Upper
0    1.0    103501  ...                     0                 1
1    1.0    105122  ...                     0                 0
2    1.0    104125  ...                     0                 1
3    1.0    104675  ...                     0                 1
4    1.0    102481  ...                     0                 0

[5 rows x 32 columns]

In [36]:
# Split columns in features (X) and target variable (y)
X = full_data.drop('Rent',axis=1)
y = full_data['Rent']

In [37]:
# Partition full_data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [38]:
# Create an object of Linear Regression class
LR = LinearRegression()
# Train the model
model = sm.OLS(y_train, X_train).fit()

In [39]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Rent   R-squared:                       0.931
Model:                            OLS   Adj. R-squared:                  0.930
Method:                 Least Squares   F-statistic:                     1246.
Date:                Sat, 24 Jul 2021   Prob (F-statistic):               0.00
Time:                        16:39:44   Log-Likelihood:                -17154.
No. Observations:                2800   AIC:                         3.437e+04
Df Residuals:                    2769   BIC:                         3.455e+04
Df Model:                          30
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                          871.6042    194.909      4.472      0.000     489.422    1253.786
House_ID                        -0.0029      0.002     -1.536      0.125      -0.007       0.001
Rooms                           22.2095      4.073      5.453      0.000      14.223      30.196
Surface                          9.6423      0.134     71.701      0.000       9.379       9.906
Elevator                        -3.2511      4.652     -0.699      0.485     -12.373       5.870
Floor_number                     5.7808      1.540      3.753      0.000       2.761       8.801
Neighborhood_Cassia           -360.2200     22.342    -16.123      0.000    -404.030    -316.410
Neighborhood_Castelli Romani  -699.0668     21.801    -32.065      0.000    -741.815    -656.318
Neighborhood_Cinecittà        -577.6718     21.991    -26.268      0.000    -620.792    -534.551
Neighborhood_Collatino        -560.4605     22.126    -25.330      0.000    -603.846    -517.075
Neighborhood_EUR              -412.1731     26.972    -15.282      0.000    -465.060    -359.286
Neighborhood_Infernetto       -615.7512     22.783    -27.027      0.000    -660.425    -571.078
Neighborhood_Magliana         -630.3297     33.489    -18.822      0.000    -695.996    -564.664
Neighborhood_Marconi          -496.1207     24.725    -20.066      0.000    -544.602    -447.640
Neighborhood_Montagnola       -471.5050     24.712    -19.080      0.000    -519.961    -423.049
Neighborhood_Monte sacro      -516.5963     22.202    -23.268      0.000    -560.131    -473.062
Neighborhood_Monti            -107.4333     22.825     -4.707      0.000    -152.190     -62.677
Neighborhood_Ostia            -553.6016     26.074    -21.232      0.000    -604.729    -502.475
Neighborhood_Parioli          -202.9664     21.634     -9.382      0.000    -245.388    -160.545
Neighborhood_Piazza Navona     236.1756     21.931     10.769      0.000     193.174     279.177
Neighborhood_Portuense        -494.8886     29.860    -16.574      0.000    -553.438    -436.339
Neighborhood_Prati            -174.7247     21.970     -7.953      0.000    -217.804    -131.645
Neighborhood_Termini          -248.8643     23.481    -10.599      0.000    -294.906    -202.823
Neighborhood_Testaccio        -201.9465     29.090     -6.942      0.000    -258.987    -144.906
Neighborhood_Trastevere        -51.6824     23.684     -2.182      0.029     -98.122      -5.243
Neighborhood_Trigoria         -518.6195     27.293    -19.002      0.000    -572.137    -465.102
Property_type_House            -25.1784     32.522     -0.774      0.439     -88.948      38.592
Property_type_Penthouse         11.5678     11.806      0.980      0.327     -11.582      34.718
Property_type_Villa            -13.6514     40.261     -0.339      0.735     -92.597      65.294
Floor_type_Mezzanine            27.2535     11.442      2.382      0.017       4.818      49.689
Floor_type_Upper                18.0432      7.210      2.503      0.012       3.906      32.181
==============================================================================
Omnibus:                      155.950   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              475.296
Skew:                          -0.239   Prob(JB):                    6.18e-104
Kurtosis:                       4.961   Cond. No.                     9.65e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.65e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [40]:
y_pred =  model.predict(X_test) # predict target on Test set

In [41]:
# Calculate scoring metrics on test set
print('r2 score is ',r2_score(y_test,y_pred))
print('root_mean_squared error is ',np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is  0.9215572677087004
root_mean_squared error of is  111.50237499193386